body {
    background: whitesmoke;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}

.wrapper {
    overflow-x: hidden;
}

img {
    height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.blurb h2 {
    color:#EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
    margin-top: 100px;
}


.blurb p {
    color: #5a0505;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 0px;
    margin-bottom: 0px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #5a0505;
}

#mainNavbar .nav-link:hover {
    color:#33c7c8;
}

#mainNavbar .navbar-brand {
    color:#e60f21;
    font-size: 1.5rem;
}

#headingGroup span {
    color:#33c7c8; 
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    color: #fa9999;
}

.navbar.scrolled {
    background: #e0c4dc;
    transition: background 0.6s;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(51, 199, 200, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    back
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
    }

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    } 
}

